<h1>MAJETKOVÉ PRIZNANIA SUDCOV</h1>

<h2>Čo sme chceli robiť?</h2>
<p>Nájsť prepojenia medzi objektami v majetových priznaniach s rozhodnutiami jednotlivých sudcov(otvorenesudy.sk) pomocou interaktívnej vizualizácie.</p>

<h2>Čo sme robili?</h2>
<p>Parsovali sme pre vás majetkové priznania sudcov. Celkovo tri dátové množiny:
<ul>
  <li>Roky <a href="http://www.sudnarada.gov.sk/mps-2011/">2011 - 2013</a> pdf súbory</li>
  <li>Roky <a href="http://wwwold.justice.sk/srmsp.aspx">2007 - 2008</a> scrapovanie HTML.</li>
  <li>Roky <a href="http://www.sudnarada.gov.sk/mps/Sudy1.html">2009 - 2010</a> scrapovanie HTML.</li>
</ul>

<h2>Čo sme nerobili?</h2>
<p>Dizajn, vizualizáciu a vlastne väčšinu vecí, ktoré sme chceli implementovať.
  <strong>Integrácia s otvorenesudy.sk</strong></p>

<h2>Výstup</h2>
<ul>
  <li>SQL dump</li>
  <li>CSV file</li>
</ul>



