<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info judges  %>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>Court</th>
    </tr>
    <% judges.each do |judge| %>
      <tr>
        <td><%= link_to(judge.name, judge_path(judge)) %></td>
        <td><%= judge.court %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate judges%>