<h2><%=@judge.name%></h2>
<ul class="nav nav-tabs">
<% @judge.admissions.each do |adm| %>

  <li role="presentation" class="active"><a data-toggle="tab" href="#admission-<%=adm.year%>"><%= adm.year%></a></li>
  <%end%>
</ul>

  <div class="tab-content">
      <% @judge.admissions.each do |adm| %>
        <%= render 'admission', admission: adm %>
      <%end%>
    </div>
